/* globalStyles.css */

body {
  font-family: 'Motiva Sans', sans-serif;
  background-color: #fffcef;
}

h3 {
  margin-bottom: 10px;
}

ol.steps {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding: 0;
}

ol.steps > li {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ol.steps > li::before {
  background: linear-gradient(135deg, #f9c901 0%, #e49c00 100%);
  border-radius: 0.5rem 0 0 0;
  content: counter(gradient-counter);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  counter-increment: gradient-counter;
}

ol.steps > li.selected::before {
  background: linear-gradient(135deg, #4eff5d 0%, #02da14 100%);
  content: '\2714'; /* Check mark icon */
}

ol.steps > li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: calc(100% - 50px);
  height: 50px;
  border-radius: 0 0.5rem 0.5rem 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

ol.steps > li.selected::after {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
}

ol.steps > li > span {
  margin-left: 2.5rem;
}

.ingredients {
  margin: 1.75rem 0;
}

.ingredient {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.ingredient.selected {
  background-color: #e4e5e4;
}

.ingredient-value {
  background: linear-gradient(135deg, #f9c901 0%, #e49c00 100%);
  border-radius: 0.5rem 0 0 0;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  flex: none;
}

.ingredient-name {
  font-size: 1rem;
  flex: 1;
  margin-left: 0.5rem;
}

.ingredient.selected .ingredient-value {
  background: linear-gradient(135deg, #4eff5d 0%, #02da14 100%);
}

.details_heading {
  color: #333;
  font-size: 36px;
  font-weight: bold;
  position: relative;
  padding-bottom: 0.2rem;
}

.details_heading::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust as needed */
  left: 0;
  width: calc(100% - 4px); /* Adjust to leave space for the fading effect */
  height: 4px;
  background: linear-gradient(to right, #f9c901, rgba(249, 201, 1, 0)); /* Adjust colors as needed */
}







